n8n-workflow-simple.json
{
  "name": "Etsy Keyword Parser",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "keyword-parser",
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.etsy.com/search?q={{$json.keyword}}",
        "headers": {
          "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"
        }
      },
      "id": "etsy-search",
      "name": "Etsy Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://34.133.200.169:4000/api/keywords/{{$('Webhook Trigger').all()[0].json.keywordId}}/update-data",
        "headers": {
          "Content-Type": "application/json"
        },
        "body": {
          "etsySuggestions": ["suggestion1", "suggestion2", "suggestion3"],
          "relatedKeywords": ["keyword1", "keyword2", "keyword3"],
          "listingCount": 1000,
          "competition": 50
        }
      },
      "id": "update-backend",
      "name": "Update Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": {
          "success": true,
          "message": "Keyword processed"
        }
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Etsy Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Etsy Search": {
      "main": [
        [
          {
            "node": "Update Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Backend": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
} 